html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: rgb(244, 244, 244);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../image/bg6.jpg);
    background-size: cover;
}

.title .tagline{
    background: linear-gradient(to right, #ffba18 0%, #a600ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-box{
    position: relative;
}

.ornament1{
    width: 100px;
    height: 100px;
    background-color: #FFB200;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: -20px;
}

.ornament2{
    width: 150px;
    height: 150px;
    background-color: #277BC0;
    border-radius: 50%;

    position: absolute;
    bottom: -50px;
    left: 50px;
}

.ornament3{
    width: 80px;
    height: 80px;
    background-color: #FFCB42;
    border-radius: 20%;

    position: absolute;
    top: -30px;
    left: -25px;
}

.btn{
    padding: 10px 30px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: ease 0.2s;
}

.primary{
    background-color: #18549c;
    color: #ffffff;
    border-color: #18549c;
}

.primary:hover{
    background-color: transparent;
    border-color: #18549c;
    color: #18549c;
}

.success{
    background-color: #149a21;
    color: #ffffff;
    border-color: #149a21;
}

.success:hover{
    background-color: transparent;
    border-color: #149a21;
    color: #149a21;
}

.primary-outline{
    border-width: 3px !important;
    background-color: transparent;
    color: #3598db;
    border-color: #3598db;
}

.primary-outline:hover{
    background-color: transparent;
    color: #3598db;
    border-color: #3598db;
    padding: 10px 40px;
}

.success-outline{
    border-width: 3px !important;
    background-color: transparent;
    color: #149a21;
    border-color: #149a21;
}

.success-outline:hover{
    background-color: transparent;
    color: #149a21;
    border-color: #149a21;
    padding: 10px 40px;
}

.success-borderless{
    color: #149a21;
}

.success-borderless:hover{
    color: #149a21;
    background-color: transparent;
    color: #149a21;
    border-color: #149a21;
}

.danger-borderless{
    color: #9a1414;
}

.danger-borderless:hover{
    color: #9a1414;
    background-color: transparent;
    color: #9a1414;
    border-color: #9a1414;
}

.btn-small{
    border-width: 1px !important;
    padding: 5px 15px;
    font-size: 12px;
}

.pulse{
    animation: pulse-animation 0.5s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(53,152,219, 0.5);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(53,152,219, 0);
    }
}

label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #919191;
}

.glass-box {
    position: absolute;
    top: 135px;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-box2 {
    position: absolute;
    right: 11px;
    bottom: 155px;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content-box {
    background-color: #ffffff;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-radius: 25px;

    position: relative;
}

.logo {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 6px;
    clip-path: circle(50%);
    -webkit-box-shadow: 2px 3px 50px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 50px -17px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 50px -17px rgba(0,0,0,0.75);
}

.img {
    z-index: 2;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile {
    width: 50px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.username-wrap {
    position: absolute;
    top: -3px;
    left: 75px;
    width: 200px;
}

.username {
    font-size: 15px;
    font-weight: bold;
}

.username-info {
    font-size: 12px;
    color: #919191;
}

.link-box {
    border-radius: 8px;
    border: 1px solid #e7e7e7;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
}

.link-box a {
    color: #181818;
    font-weight: bold;
    text-decoration: none;
}

.link-content {
    position: relative;
}

.link-title-wrap {
    position: absolute;
    top: 0;
    left: 40px;
}

.link-direct {
    position: absolute;
    right: 0px;
    top: 10px;
}

.link-logo {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.link-title {
    margin-top: -3px;
}

.link-description {
    margin-top: -6px;
    font-weight: lighter;
    color: #919191;
    font-size: 15px;
}